.page-hero {
  padding: 110px 0;

  background:
    radial-gradient(
      circle at 80% 20%,
      #f4dfe0,
      transparent 30%
    ),
    #fffaf8;

  text-align: center;

  .container {
    max-width: 800px;
  }

  h1 {
    margin: 15px 0;

    font-size: clamp(45px, 7vw, 70px);

    span {
      color: #b76e79;
      font-style: italic;
    }
  }

  p {
    max-width: 650px;

    margin: 0 auto;

    color: #756b67;

    font-size: 17px;
    line-height: 1.8;
  }
}

.about-content {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 80px;

  align-items: center;

  h2 {
    margin-top: 15px;

    font-size: clamp(35px, 5vw, 52px);
  }

  > p {
    color: #756b67;

    font-size: 17px;
    line-height: 1.9;
  }
}

@media (max-width: 700px) {
  .about-content {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}